<!--This is the Edit View for the Secondary page-->
@{
    ViewBag.Title = "Edit";
}

@model YouthFutureCMS.Models.SecondaryModel

<script language="javascript">
    var duck = new Audio('https://www.google.com/logos/fnbx/animal_sounds/duck.mp3');
    function quack(){               
        duck.play();
    }
</script>

<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<title>jQuery AJAX call to insert records to database</title>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSave').click(function () {
			var editedMatches = document.querySelectorAll(".edited");
			var editedMatchesHTMLList = document.querySelectorAll(".editedHTMLList");
			for (i = 0; i < editedMatches.length; i++) {
				//debugger
				for (j = 0; j < editedMatches[i].children.length; j++) {
					var contentName = editedMatches[i].children[j].title
					var contentInfo = editedMatches[i].children[j].outerText;
					$.ajax({
						type: 'POST',
						contentType: "application/json; charset=utf-8",
						url: '/Home/updateContent',
						data: "{'contentName':'" + contentName + "','contentInfo':'" + contentInfo + "'}",
						//async: false,
						//success: function (response) {
						//	alert("Record saved successfully..!!");
						//},
						//error: function () {
						//	alert("Error");
						//}
					});
				}
			}
			for (i = 0; i < editedMatchesHTMLList.length; i++) {
				//debugger
				var contentName = editedMatchesHTMLList[i].title
				var contentInfo = editedMatchesHTMLList[i].innerHTML;
				$.ajax({
					type: 'POST',
					contentType: "application/json; charset=utf-8",
					url: '/Home/updateContent',
					data: "{'contentName':'" + contentName + "','contentInfo':'" + contentInfo + "'}",
				});
			}
        });
    });
</script>

<div class="buttons">
    <ul>
        <li><p>Editing page</p></li>
        <li><a class="btn pull-right" onclick="quack();" contenteditable="false" id="btnSave">Save</a></li>
        <li><a type="button" class="btn pull-right" contenteditable="false" href="/Secondary/Edit">Cancel</a></li>
    </ul>
</div>

<article>
    <div class="indexLeftMargin" contenteditable="true">
        <div class="row  questions edited">
            <br />
            <div class="col-sm-12 col-md-7 text" id="2ndHeaderQuestion" title="2nd header question">
                <p>@Model.getContent("2nd header question")</p>

            </div>

            <div class="col-sm-12 col-md-5 phone" id="2ndHeaderPhone" title="2nd header phone">
                <p>@Model.getContent("2nd header phone")</p>
            </div>
        </div>
    </div>
</article>

<div class="indexLeftMargin" id="historyBanner">
    <div class="row hist_main_img edited">
        <div class="col-xs-8 text" contenteditable="true" id="YFHistory" title="YF History">
			<h2 class="h2style1">@Html.Raw(Model.getContent("YF History"))</h2>
        </div>
    </div>
</div>

<div class="indexLeftMargin edited">
    <div class="row history_text" id="YFHisDescib" title="YF His descib">
        <section class="col-xs-12" contenteditable="true" >
            <p class="mont_regular_22_darkgray">@Model.getContent("YF His descib")</p>
        </section>
    </div>
</div>

<div class="indexLeftMargin">
    <div class="row history_text_pics">
        @foreach (var col in Model.getColumns(3))
        {
            <section class="col-xs-12  col-md-4">
                <img src="@Model.getImagePath(col.image_Id)" class="img-responsive center-block" title="@col.columnInfo" alt="@col.columnInfo">
                <p class="mont_light_14_white hist_subtitle">@col.columnInfo</p>
            </section>
        }
        <div class="pull-right">
            <a type="button" class="btn editColumn" href="/Images/Index">Edit Images</a>
            <a type="button" class="btn editColumn" href="/Columns/Index">Edit Captions</a>
        </div>
    </div>
</div>

<div class="indexLeftMargin edited">
    <div class="row history_text" id="YFFounderDescr" title="YF founder descr">
        <section class="col-xs-12" contenteditable="true" >
            <p class="mont_regular_22_darkgray">@Model.getContent("YF founder descr")</p>
        </section>
    </div>
</div>

<div class="indexLeftMargin edited">
    <div class="row hist_2nd_back_img" id="YFHistoryFact" title="YF history Fact">
        <section class="col-xs-12 hist_2nd_back_img_text" contenteditable="true">
            <h4>@Model.getContent("YF history Fact")</h4>
        </section>
    </div>
</div>

<div class="indexLeftMargin edited">
    <div class="row history_text" id="YFHistoryFactDesc" title="YF history fact desc">
        <section class="col-xs-12" contenteditable="true">
            <p class="mont_regular_22_darkgray">@Model.getContent("YF history fact desc")</p>
        </section>
    </div>
</div>

<div class="indexLeftMargin edited">
    <div class="row history_green_text" id="YFHistoryFact2" title="YF history Fact2">
        <section class="col-xs-12" contenteditable="true">
            <p class="mont_light_32_white">@Model.getContent("YF history Fact2")</p>
        </section>
    </div>
</div>

<div class="indexLeftMargin">
    <section class="row more">

        @{
            int counter = 0;
            foreach (var col in Model.getColumns(4))
            {
                <div class="col-xs-12 col-md-4 @(counter == 1 ? "more_stories" : "more_volunteer")">
                    <img src="@Model.getImagePath(col.image_Id)" title="Picture" alt="Picture">
                    <p class="youth_p mont_light_18_darkgray"> @Html.Raw(col.columnInfo) </p>
                </div>
                counter++;
            }
        }
        <div class="pull-right">
            <a type="button" class="btn editColumn" href="/Images/Index">Edit Images</a>
            <a type="button" class="btn editColumn" href="/Columns/Index">Edit Info</a>
        </div>
    </section>
</div>

<div class="indexLeftMargin edited" id="outreachBanner">
    <div class="row outreach_main_img"  id="YFOutreach" title="YF outreach">
        <div class="col-xs-8 text" contenteditable="true">
			<h2 class="h2style1">@Html.Raw(Model.getContent("YF outreach"))</h2>
        </div>
    </div>
</div>

<div class="indexLeftMargin edited">
    <div class="row outreach_text" id="YFOutreachDesc" title="YF outreach desc">
        <section class="col-xs-12" contenteditable="true">
            <p class="mont_regular_22_darkgray">@Model.getContent("YF outreach desc")</p>
        </section>
    </div>
</div>

<div class="indexLeftMargin " contenteditable="true">
    <div class="row outreach_bullet" >
		<section class="editedHTMLList" id="YFOutreachList1" title="YF outreach list1">
			@Html.Raw(Model.getContent("YF outreach list1"))
		</section>
		<section class="editedHTMLList" id="YFOutreachList2" title="YF outreach list2">
			@Html.Raw(Model.getContent("YF outreach list2"))
		</section>
    </div>
</div>



<div class="indexLeftMargin" id="directorsMain">
    <div class="row board_header edited">
        <div class="col-xs-6 text" contenteditable="true" id="BoardOfDir" title="Board of Dir">
			<h2 class="h2style1">@Html.Raw(Model.getContent("Board of Dir"))</h2>
        </div>
    </div>
</div>

<div class="indexLeftMargin">
    <div class="row board_members">
        @foreach (var bd in Model.board)
        {
            <section class="col-xs-12 col-md-4">
                <p><span class="name">@((bd.boardMemberFirstName + " " + bd.boardMemberLastName).ToUpper()) </span><br />@bd.boardMemberTitle<br /><span class="email">@Model.getBoardEmail(bd.staff_Id)</span></p>
            </section>
        }
    </div>
</div>

<a type="button" class="btn pull-right editViews" href="/Board/Index">Edit Board</a>

<div class="indexLeftMargin" id="staffMain">
    <div class="row board_header edited">
        <div class="col-xs-6 text" contenteditable="true" id="Staff" title="Staff">
			<h2 class="h2style1">@Html.Raw(Model.getContent("Staff"))</h2>
        </div>
    </div>
</div>

<div class="indexLeftMargin">
    <div class="row staff_members">
        @foreach (var staff in Model.staff)
        {
            <section class="col-xs-12 col-md-4">
                <img src="@Model.getImagePath(staff.image_Id)" class="img-responsive" title="@(staff.staffFirstName + " " + staff.staffLastName)" alt="@(staff.staffFirstName + " " + staff.staffLastName)">
                <p><span class="name">@((staff.staffFirstName + " " + staff.staffLastName).ToUpper())</span><br />@staff.staffTitle<br /><span class="email">@staff.staffEmail</span></p>
            </section>
        }
    </div>
</div>
<div class="pull-right">
    <a type="button" class="btn editViews" href="/Images/Index">Edit Images</a>
    <a type="button" class="btn editViews" href="/Staff/Index">Edit Staff</a>

</div>


<div class="indexLeftMargin" id="mediaMain">
    <div class="row media_header edited">
        <div class="col-xs-6 text" contenteditable="true" id="Media" title="Media" onClick="reply_click(this.id)">
			<h2 class="h2style1">@Html.Raw(Model.getContent("Media"))</h2>
        </div>
    </div>
</div>

<div class="indexLeftMargin">
    <div class="row media_subheader edited">
		<div class="col-xs-12 " contenteditable="true" id="mediaHeadline" title="media headline">
			<p class="title">@Model.getContent("media headline")</p>
		</div>
		<div>
			<p class="mont_regular_22_darkgray time">03/18/2015 10:03 pm<p>
					@*/ <----Need to fix this/*@
				<a class="link" href="#">inShare</a>
		</div>
    </div>
</div>

<div class="indexLeftMargin">
    <div class="row media_pic edited">
        <div class="col-xs-12 col-lg-7 pic">
            <img src="../resources/media_check.jpg" class="img-responsive center-block" title="America First Check" alt="Check">
        </div>
        <div class="col-xs-12 col-lg-5 subtext" contenteditable="true" id="mediaCheckDesc" title="media check desc">
            <p class="subtitle">@Model.getContent("media check desc")</p>
        </div>
    </div>
</div>

<div class="indexLeftMargin">
    <div class="row media_text edited" contenteditable="true">
			<div class="col-xs-12" id="media check story1" title="media check story1">
				<p class="mont_regular_22_darkgray">@Model.getContent("media check story1")</p>
			</div>
			<div class="col-xs-12" id="media check story2" title="media check story2">
				<p class="mont_regular_22_darkgray">@Model.getContent("media check story2")</p>
			</div>
    </div>
</div>

<div class="indexLeftMargin" id="donorsMain">
    <div class="row donor_header edited"> 
               
        <div class="col-xs-6 text" contenteditable="true" id="Donors" title="Donors">
			<h2 class="h2style1">@Html.Raw(Model.getContent("Donors"))</h2>
        </div>    
    </div>
</div>

<a type="button" class="btn pull-right editViews" href="/Donors/Index">Edit Donors</a>

<div class="indexLeftMargin">
    <div class="row donor_subheader edited">
        <div class="col-xs-12 " contenteditable="true" id="PlatDonors" title="Plat Donors">
            <p class="title_plat">@Model.getContent("Plat Donors")</p>
        </div>
    </div>

</div>

<div class="indexLeftMargin">
    <div class="pre-scrollable">
        <div class="row donor_list">
            @foreach (var donor in Model.donors.Where(d => d.donorLevel == "P"))
            {
                <div class="col-xs-4 donor_box plat">
                    <p class="donor_name">@donor.donorName</p>
                    <p class="year">@donor.donorYear</p>
                </div>
            }
        </div>
    </div>
</div>

<div class="indexLeftMargin">
    <div class="row donor_subheader edited">
        <div class="col-xs-12 " contenteditable="true"  id="GoldDonors" title="Gold Donors">
            <p class="title_gold">@Model.getContent("Gold Donors")</p>
        </div>
    </div>
</div>

<div class="indexLeftMargin">
    <div class="pre-scrollable">
        <div class="row donor_list">
            @foreach (var donor in Model.donors.Where(d => d.donorLevel == "G"))
            {
                <div class="col-xs-4 donor_box gold">
                    <p class="donor_name">@donor.donorName</p>
                    <p class="year">@donor.donorYear</p>
                </div>
            }
        </div>
    </div>
</div>

<div class="indexLeftMargin">
    <div class="row donor_subheader edited">
        <div class="col-xs-12 " contenteditable="true" id="SilverDonors" title="Silver Donors">
            <p class="title_silver">@Model.getContent("Silver Donors")</p>
        </div>
    </div>
</div>

<div class="indexLeftMargin">
    <div class="pre-scrollable">
        <div class="row donor_list">
            @foreach (var donor in Model.donors.Where(d => d.donorLevel == "S"))
            {
                <div class="col-xs-4 donor_box silver">
                    <p class="donor_name">@donor.donorName</p>
                    <p class="year">@donor.donorYear</p>
                </div>
            }
        </div>
    </div>
</div>

<div class="indexLeftMargin">
    <div class="row donor_subheader edited">
        <div class="col-xs-12 " contenteditable="true" id="BronzeDonors" title="Bronze Donors">
            <p class="title_bronze">@Model.getContent("Bronze Donors")</p>
        </div>
    </div>
</div>

<div class="indexLeftMargin">
    <div class="pre-scrollable">
        <div class="row donor_list">
            @foreach (var donor in Model.donors.Where(d => d.donorLevel == "B"))
            {
                <div class="col-xs-4 donor_box bronze">
                    <p class="donor_name">@donor.donorName</p>
                    <p class="year">@donor.donorYear</p>
                </div>
            }
        </div>
    </div>
</div>

<div class="indexLeftMargin" id="donateMain">
    <div class="row donor_header edited">
        <div class="col-xs-6 text" contenteditable="true" id="donations" title="donations">
			<h2 class="h2style1">@Html.Raw(Model.getContent("donations"))</h2>
        </div>
    </div>

    <div class="row donate_help edited">
        <div class="col-xs-12" contenteditable="true" id="donationsQuestion" title="donations question">
            <p>@Model.getContent("donations question")</p>
        </div>
    </div>

    <div class="row media_text edited">
        <div class="col-xs-12" contenteditable="true" id="pleaseDonate" title="please donate">
            <p class="mont_regular_22_darkgray">@Model.getContent("please donate")</p>
        </div>
    </div>


    <section class="row more">
        @{
            counter = 0;
            foreach (var col in Model.getColumns(5))
            {
                <div class="col-xs-12 col-lg-4 @(counter == 1 ? "more_stories" : "more_volunteer")">
                    <img src="@Model.getImagePath(col.image_Id)" title="Picture" alt="Picture">
                    <p class="vol_p mont_light_18_darkgray"> @Html.Raw(col.columnInfo) </p>

                </div>
                counter++;
            }
        }
        <div class="pull-right">
            <a type="button" class="btn editColumn" href="/Images/Index">Edit Image</a>
            <a type="button" class="btn editColumn" href="/Columns/Index">Edit Info</a>
        </div>
    </section>

</div>

<div class="container-fluid needs indexLeftMargin" contenteditable="true">
    <div class="row donate_help edited">
        <div class="col-xs-12" id="listOfNeeds" title="list of needs">
            <p>@Model.getContent("list of needs")</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4 needs_list first edited">
            <p class="needs_subheader" id="MostImportantNeeds" title="Most important needs">
                @Model.getContent("Most important needs")
            </p>
			<section class="editedHTMLList" title="important needs">
					@Html.Raw(Model.getContent("important needs"))
			</section>
        </div>

        <div class="col-xs-12 col-md-4 needs_list edited">
            <p class="needs_subheader" id="MiscNeeds" title="Misc needs" onClick="reply_click(this.id)">@Model.getContent("Misc needs")</p>
			<section class="editedHTMLList" title="misc list">
				@Html.Raw(Model.getContent("misc list"))
			</section>
			<section class="edited">
				<p class="needs_subheader" id="GiftCards" title="Gift cards">@Model.getContent("Gift cards")</p>
			</section>
			<section class="editedHTMLList" title="gift card list">
				@Html.Raw(Model.getContent("gift card list"))
			</section>
        </div>

        <div class="col-xs-12 col-md-4 needs_list edited">
            <p class="needs_subheader" id="houseFurnishings" title="house furnishings">@Model.getContent("house furnishings")</p>
			<section class="editedHTMLList" title="furnishings list">
				@Html.Raw(Model.getContent("furnishings list"))
			</section>
			<section class="edited">
				<p class="needs_subheader" id="Volunteers" title="Volunteers">@Model.getContent("Volunteers")</p>
			</section>
			<section class="editedHTMLList" title="Volunteers list">
				@Html.Raw(Model.getContent("Volunteers list"))
			</section>
			<section class="edited">
				<p class="needs_subheader" id="RepairNeeds" title="Repair needs" >@Model.getContent("Repair needs")</p>
			</section>
			<section class="editedHTMLList" title="Repair list">
				@Html.Raw(Model.getContent("Repair list"))
			</section>
        </div>
    </div>
</div>

<div class="needs indexLeftMargin" id="contactMain">
    <div class="row donor_header edited">
        <div class="col-xs-6 text" contenteditable="true" id="ContactTitle" title="Contact Title">
            <h2 class="h2style1">@Model.getContent("Contact Title")</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6 contact_form edited">
            <p class="contact_subheader" contenteditable="true" id="ContactUs" title="Contact us">@Model.getContent("Contact us")</p>
            <form method="post" name="myemailform" action="form-to-email.php">
                <input type="text" class="input_text" name="firstName" placeholder="First Name" maxlength="20"> <span class="change" id="fName_change">Required!</span>
                <br>
                <input type="text" class="input_text" name="lastName" placeholder="Last Name" maxlength="20"><span class="change" id="lName_change">Required!</span>
                <br>
                <input type="tel" name="phone" placeholder="Telephone (Optional)" maxlength="20">
                <br>
                <input type="email" class="input_text" name="email" placeholder="Email Address" maxlength="40"><span class="change" id="email_change">Required!</span>
                <br>
                <textarea name="message" class="input_text" placeholder="Message" maxlength="255"></textarea><span class="change" id="message_change">Required!</span>
                <br>
                <input type="submit" class="submit_button" id="submit" value="Submit" disabled>
                <input type="reset" value="Cancel" class="cancel" />
            </form>
        </div>

        <div class="col-xs-12 col-md-6 two_col edited" contenteditable="true">
            <p class="contact_subheader other_info" id="ContactCallUs" title="Contact call us" onClick="reply_click(this.id)">@Model.getContent("Contact call us")</p>
            <p class="contact_info_text contact_tel" id="ContactNumber" title="Contact number" onClick="reply_click(this.id)">@Model.getContent("Contact number")</p>

            <p class="contact_subheader other_info" id="comeSeeUs" title="come see us" onClick="reply_click(this.id)">@Model.getContent("come see us")</p>
            <p class="contact_info_text" id="address" title="address" onClick="reply_click(this.id)">@Html.Raw(Model.getContent("address"))</p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1784.5861387467835!2d-111.96804305268928!3d41.215141436084046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87530f2689623957%3A0x49def70f5ee0a151!2sOgden+Youth+Futures!5e0!3m2!1sen!2sus!4v1492809010928" class="map" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row contact_SM">
        <div class="col-xs-4 edited">
            <p class="contact_subheader" contenteditable="true" id="socialMedia" title="social media" onClick="reply_click(this.id)">@Model.getContent("social media")</p>
            <img src="../resources/social_instagram.png" title="instagram icon" alt="instagram icon">
            <img src="../resources/social_twitter.svg" title="twitter icon" alt="twitter icon">
            <img src="../resources/social_tumblr.svg" title="tumblr icon" alt="tumblr icon">
            <img src="../resources/social_facebook.svg" title="fb icon" alt="fb icon">
        </div>
    </div>
</div>

