@model YouthFutureCMS.Models.Column

@{
    ViewBag.Title = "Delete"; Layout = "~/Views/Shared/_EditLayout.cshtml";

}

<title>@ViewBag.title Columns</title>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Column</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.columnHeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.columnHeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.columnDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.columnDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.columnInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.columnInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.columnLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.columnLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.columnLinkDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.columnLinkDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sectionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sectionNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
