@model YouthFutureCMS.Models.Column

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Column</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.columnHeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.columnHeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.columnDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.columnDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.columnLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.columnLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sectionNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sectionNum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.columnId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
