<!--This is the Edit View for the Home page-->
@{
    ViewBag.Title = "Edit";
}

@model YouthFutureCMS.Models.HomeModel

<script language="javascript">
    var duck = new Audio('https://www.google.com/logos/fnbx/animal_sounds/duck.mp3');
    function quack() {
        duck.play();
    }
</script>

<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<title>jQuery AJAX call to insert records to database</title>
<script type="text/javascript">
        $(document).ready(function () {
            $('#btnSave').click(function () {
				var editedMatches = document.querySelectorAll(".edited");
				for (i = 0; i < editedMatches.length; i++) {
					//debugger
					for (j = 0; j < editedMatches[i].children.length; j++) {
						var contentName = editedMatches[i].children[j].title
						var contentInfo = editedMatches[i].children[j].outerText; 
						$.ajax({
							type: 'POST',
							contentType: "application/json; charset=utf-8",
							url: '/Home/updateContent',
							data: "{'contentName':'" + contentName + "','contentInfo':'" + contentInfo + "'}",
							//async: false,
							//success: function (response) {
							//	alert("Record saved successfully..!!");
							//},
							//error: function () {
							//	alert("Error");
							//}
						});
					}
				}
            });
        });
</script>

<div class="buttons">
    <ul>
        <li><p>Editing page</p></li>
        <li><a class="btn pull-right" onclick="quack();" contenteditable="false" id="btnSave">Save</a></li>
        <li><a type="button" class="btn pull-right" contenteditable="false" href="/Home/Edit">Cancel</a></li>
    </ul>
</div>

<div id="main-body">
    <section class="container-fluid main-header indexLeftMargin">
        <div class="row">
            <div class="header-box edited" contenteditable="true">
                <div class="row" id="headerText" title="Header Text">
                    <p class="header-text-greeting"> @Model.getContent("Header Text") </p>
                </div>
                <div class="row sub-text-box" id="headerFact" title="Header Fact">
                    <p class="sub-text">@Html.Raw(Model.getContent("Header Fact"))</p>
                </div>
            </div>
        </div>
    </section>

    <section id="header" class="container-fluid indexLeftMargin">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-11 edited" contenteditable="true" >
                <div class="green-header" id="HeaderContacting" title="Header Contacting">
					<p class="mont-semibold-dark-36 have-questions-heading" >@Model.getContent("Header Contacting")</p>
				</div>
				<div class="green-header" id="HeaderContactNumber" title="Header Contact Number"> 
                    <p class="quicksand-dark-36-main have-questions-phone" > @Model.getContent("Header Contact Number")</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid indexLeftMarginServices">
        <div class="row">
            <div class="col-xs-12 edited" contenteditable="true">
				<div id="ServiceTitle" title="Service Title">
					<h4 class="services-heading" >@Model.getContent("Service Title")</h4>
				</div>
				<div id="Service desc" title="Service desc">
					<p class="mont-light-light-22 about-services">
						@Model.getContent("Service desc")
					</p>
				</div>
            </div>
        </div>
        <div class="row">
            <div class="pull-right">
                <a type="button" class="btn editColumn" href="/Images/Index">Edit Images</a>
                <a type="button" class="btn editColumn" href="/Columns/Index">Edit Info</a>
            </div>
            <div class="purpose-boxes">
                @foreach (var col in Model.getColumns(1))
                {
                    <article class="col-sm-4">
                        <section class="panel-img-container">
                            <img src="@Model.getImagePath(col.image_Id)" alt="House" class="img-responsive panel-img img-center" />
                        </section>
                        <section>
                            <p class="quicksand-light-32 panel-heading">@col.columnHeader</p>
                        </section>
                        <section class="minHeightServices">
                            <p class="mont-light-light-18 panel-summary">
                                @col.columnInfo
                            </p>
                        </section>
                        <section class="panel-footer Learn-more-">
                            <p class="quicksand-light-24-green">
                                <a href="@col.columnLink">@col.columnLinkDesc</a>
                            </p>
                        </section>
                    </article>
                }
            </div>
        </div>
    </section>
 
    <article class="container-fluid indexLeftMargin">
        <section class="purpose purpose-padding indexLeftMargin edited" contenteditable="true">
            <div class="row purpose-title" id="OurPurpose" title="Our Purpose">
                <h2 class="h2-green">@Html.Raw(Model.getContent("Our Purpose"))</h2>
            </div>
            <div class="row purpose-detail edited">
                <div class="col-xs-12 no-padding" id="OurPurposeDesc" title="Our purpose desc">
                    <p class="montlight-dark-32">
                        @Model.getContent("Our purpose desc")
                    </p>
                </div>
            </div>
            <div class="purpose-stats edited">
                <div class="col-xs-12" id="OurPurposeFact" title="Our purpose fact">
                    <p>@Html.Raw(Model.getContent("Our purpose fact"))</p>
                </div>
            </div>
        </section>

        <div class="clear"></div>

        <section class="sponsor-bar">
            <div class="col-xs-12 col-lg-3 edited" contenteditable="true" >
				<div id="OurSponsor" title="Our sponsor">
					<p class="partner-text">@Model.getContent("Our sponsor")</p>
				</div>
                <
            </div>
            @foreach (var sp in Model.content.Where(c => c.contentName == "Sponsors"))
            {
                <div class="col-xs-12 col-lg-3 ">
                    <div class="partner-logo">
                        <img src="@Model.getImagePath(sp.image_Id)" alt="Picture" class="@sp.contentInfo" />
                    </div>
                </div>
            }
        </section>

        <div class="pull-right">
            <a type="button" class="btn pull-right editColumn" href="/Images/Index">Edit Images</a>
        </div>

        <article class="container-fluid indexLeftMargin30">
            <section class="row purpose-user">
                <div class="purpose-boxes">
                    @foreach (var col in Model.getColumns(2))
                    {
                        <article class="col-sm-4 purpose-border">
                            <section class="panel-img-container">
                                <img src="@Model.getImagePath(col.image_Id)" alt="Picture" class="img-responsive panel-img img-center" />
                            </section>
                            <section>
                                <p class="panel-heading">@col.columnHeader</p>
                            </section>
                            <section class="minHeight">
                                <p class="mont-light-light-22 panel-summary">@col.columnInfo</p>
                            </section>
                            <section class="panel-footer">
                                <p class="quicksand-light-24-green">
                                    <a href="@col.columnLink">@col.columnLinkDesc</a>
                                </p>
                            </section>
                        </article>
                    }
                </div>
                    <a type="button" class="btn editColumn" href="/Images/Index">Edit Images</a>
                    <p> </p>
                    <a type="button" class="btn editColumn" href="/Columns/Index">Edit Info</a>
            </section>
        </article>
    </article>

</div>
