@model IEnumerable<YouthFutureCMS.Models.Staff>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staffEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staffTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boardTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staffStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staffEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staffTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boardTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staffStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.staffId }) |
            @Html.ActionLink("Details", "Details", new { id=item.staffId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.staffId })
        </td>
    </tr>
}

</table>
