@model YouthFutureCMS.Models.Board

@{
    ViewBag.Title = "Details";
}
<title>Board @ViewBag.title</title>
<h2>Details</h2>

<div>
    <h4>Board</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.boardMemberFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boardMemberFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boardMemberLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boardMemberLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boardMemberTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boardMemberTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.board_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
