@model IEnumerable<YouthFutureCMS.Models.Board>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.boardMemberFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boardMemberLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boardMemberTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staff_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.boardMemberFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boardMemberLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boardMemberTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staff_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.board_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.board_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.board_Id })
        </td>
    </tr>
}

</table>
