@model IEnumerable<YouthFutureCMS.Models.Donor>

@{
    ViewBag.Title = "Index"; Layout = "~/Views/Shared/_EditLayout.cshtml";

}
<title>Donors</title>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.donorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donorYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donorLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donorStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.donorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donorYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donorLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donorStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.donor_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.donor_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.donor_Id })
        </td>
    </tr>
}

</table>
