@model YouthFutureCMS.Models.Event

@{
    ViewBag.Title = "Delete";
}
<title>@ViewBag.title Events</title>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventLocation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
